<div>
	<table> 
		<tr>
			<th colspan=2>Integers in model</th>
		</tr>
		<tr bound$="[[intZero]]">
			<td>Int Zero</td>
			<td id="intZero">[[intZero]]</td>
		</tr>
		<tr bound$="[[intMin]]">
			<td>Int Min</td>
			<td id="intMin">[[intMin]]</td>
		</tr>
		<tr bound$="[[intMax]]">
			<td>Int Max</td>
			<td id="intMax">[[intMax]]</td>
		</tr>
		<tr>
			<th colspan=2>Doubles in model</th>
		</tr>
		<tr bound$="[[doubleZero]]">
			<td>Double Zero</td>
			<td id="">[[doubleZero]]</td>
		</tr>
		<tr bound$="[[doubleHalf]]">
			<td>Double Half</td>
			<td id="doubleHalf">[[doubleHalf]]</td>
		</tr>
		<tr bound$="[[doubleLarge]]">
			<td>Double Large</td>
			<td id="doubleLarge">[[doubleLarge]]</td>
		</tr>
		<tr bound$="[[doubleSmall]]">
			<td>Double Small</td>
			<td id="doubleSmall">[[doubleSmall]]</td>
		</tr>
		<tr bound$="[[doubleSemiLarge]]">
			<td>Double SemiLarge</td>
			<td id="doubleSemiLarge">[[doubleSemiLarge]]</td>
		</tr>
		<tr bound$="[[doubleSemiSmall]]">
			<td>Double SemiSmall</td>
			<td id="doubleSemiSmall">[[doubleSemiSmall]]</td>
		</tr>
		<tr bound$="[[doubleMax]]">
			<td>Double Max</td>
			<td id="doubleMax">[[doubleMax]]</td>
		</tr>
		<tr bound$="[[doubleMin]]">
			<td>Double Min</td>
			<td id="doubleMin">[[doubleMin]]</td>
		</tr>
		<tr bound$="[[doubleMinPlus]]">
			<td>Double MinPlus</td>
			<td id="doubleMinPlus">[[doubleMinPlus]]</td>
		</tr>
		<tr>
			<th colspan=2>Special doubles "inline" in template</th>
		</tr>
		<tr bound$="[[intMax]]">
			<td>Double NaN</td>
			<td id="doubleNaN">[[_NaN()]</td>
		</tr>
		<tr bound$="[[intMax]]">
			<td>Double PosInf</td>
			<td id="doublePosInf">[[_posInf()]]</td>
		</tr>
		<tr bound$="[[intMax]]">
			<td>Double NegInf</td>
			<td id="doubleNegInf">[[_negInf()]]</td>
		</tr>
	</table>
</div>
<script>
class TemplateTextFormattingView extends Polymer.Element {
	static get is() { return "template-text-formatting-view" }
	
	_NaN() {
		return NaN;
	}
	
	_posInf() {
		return Infinity;
	}
	
	_negInf() {
		return -Infinity;
	}
}
customElements.define(TemplateTextFormattingView.is, TemplateTextFormattingView);
</script>
